@import '../../marketing/stylesheets/fonts.scss';
@import '../../core/stylesheets/mixins.scss';
.numbers {
  font-size: 75px;
  color: #414852;
  max-width: 315px;
  width: 100%;
  margin: 20px auto;
}

ol {
  margin: 50px auto;
  max-width: 315px;
  width: 100%;
  list-style: none;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 -1px 2px #333;

  li {
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 10px 10px 0;
    font-size: 36px;
    line-height: 70px;
    cursor: pointer;
    box-shadow: inset 0px 1px #414852;
    border-top: 1px solid #1A2331;
    background: #2F343D;
    border-radius: 8px;
    
    &:hover {
      @include background-gradient(#1A2331, #414852);
    }
      
    &:active {
      background: #1A2331;
      color: #66ccff;
      @include transform(scale(1.2));
    }
  }
}
 