.progress {
  width: 100%;
  border-radius: 0px;
  height: 32px;
  margin-bottom: 0px;
  position: relative;
  z-index: 9999;
  background: #5188BF;
  .bar {
    height: 100%;
    background-color: #56D0B3;
    transition: 1s all ease;
  }
}