@import '../../core/stylesheets/mixins.scss';

#steps {
  #content {
    padding: 0;
    position: relative;
    z-index: 9999;
    margin-left: 230px;

    @media (max-width: $maxMedium) {
      margin-left: 80px;
    }

    @media (max-width: $maxSmall) {
      margin-left: 0px;
    }

    .content-wrapper {
      margin-top: 0;
    }
  }

  .sidebar-toggler {
    position: absolute;
    color: #fff;
    font-size: 34px;
    top: 0px;
    left: 8px;
    padding: 15px;
    cursor: pointer;
    z-index: 999999;
  }

  .header {
    position: relative;
    z-index: 9999;
    padding: 19px 75px;
    background: #5188BF;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;

    a {
      color: #fff;
      text-decoration: none;
    }

    span.pull-right {
      color: #56D0B3;
    }

    @media (max-width: $maxMedium) {
      text-align: center;
    }

    @media (max-width: $maxSmall) {
      font-size: 16px;
      padding: 26px;
    }
  }
}