@import '../../core/stylesheets/mixins.scss';  
.steps {
  .step {
    padding: 35px 75px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
    z-index: 99;
    height: 112px;

    @media (max-width: $maxMedium) {
      text-align: center;
      padding-top: 30px !important;
      height: 100%;
    }

    @media (max-width: $maxSmall) {
      z-index: 9999;
    }

    &.done {
      background: #F8F8FA;

      .info {
        top: -6px;
      }
    }

    .info {
      float: left;
      position: relative;
      font-size: 24px;

      @media (max-width: $maxMedium) {
        float: none;
        margin-bottom: 15px;
      }

      .number {
        font-size: 36px;
        margin-right: 20px;
        position: relative;
        top: 2px;
        color: #56D0B3;

        @media (max-width: $maxMedium) {
          display: block;
          margin: 0;
          margin-bottom: 10px;
        }


        .questionDifficulty {
          position: absolute;
          color: #fff;
          font-size: 20px;
          top: 7px;          
          left: 12px;
        }

        .ion-checkmark-circled {
          font-size: 38px;
          color: #56D0B3;
          position: relative;
          top: 6px;
          left: -6px;
          margin-right: -8px;
        }
      }
    }

    .button {
      float: right;
      @media (max-width: $maxMedium) {
        float: none;
      }
    }
  }
}