@import '../../marketing/stylesheets/mixins.scss';

#signup {
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed !important;
  background: #5188bf;
  -webkit-font-smoothing: antialiased;

  .header {

    .logo {
      margin-top: 40px;
      text-align: center;
      
      a {
        color: #fff;
        font-size: 31px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        @include transition(color .25s linear);
        
        &:hover {
          text-decoration: none;
          color: #bbb;
        }
      }
    }

    h4 {
      color: #fff;
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      margin-top: 45px;
      margin-bottom: 5px;
    }

    p {
      color: #fff;
      text-align: center;
    }
  }
  
  .wrapper {
    margin: 0 auto;
    width: 45%;
    margin-top: 25px;
    margin-bottom: 45px;
    background: #fff;
    padding: 15px 50px 25px 50px;
    border-radius: 5px;
    border-top: 6px solid #56D0B3;

    @media(max-width: 991px) {
      width: 67%;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding: 20px;
    }

    .userType {
      label {
        width: 30%;
        display: block;
        float: left;
        position: relative;
        bottom: 10px;
      }
    }

    .formy {
      margin-top: 22px;
      .form-group {
        label {
          color: #46515F;
        }
      }
      .checkbox {
        label {
          color: #666;
          font-size: 13px;
        }
        input {
          position: relative;
          top: 4px;
          float: left;
        }
      }
      .submit {
        text-align: center;
        .button-clear {
          margin-top: 35px;
          display: inline-block;
        }
      }
      .info {
        float: right;
        width: 67%;
        .good-company {
          strong {
            font-size: 15px;
            font-weight: 500;
          }
          p {
            color: #858585;
            margin-top: 9px;
          }
        }
        .testimonial {
          margin-top: 40px;
          .quote {
            font-style: italic;
            font-size: 13px;
            color: #555;
            line-height: 20px;
            -webkit-font-smoothing: auto;
          }
          .author {
            margin-top: 20px;
            .pic {
              width: 55px;
              height: 55px;
              border-radius: 50px;
              float: left;
              position: relative;
              top: -6px;
              margin-right: 18px;
            }
            .name {
              color: #3C92C5;
              line-height: 23px;
              font-weight: 500;
            }
            .company {
              font-size: 14px;
              color: #909090;
              line-height: 23px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .already-account {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    a {
      color: #fff;
      text-decoration: underline;
    }
    .popover-content {
      color: #000;
      font-size: 17px;
      font-weight: 400;
    }
  }
}
