@import '../../core/stylesheets/mixins.scss';

.dashboard {
  .metrics {
    background: #5188BF;
    border-radius: 5px;
    margin-bottom: 30px;

    .metric {
      float: left;
      width: 25%;

      padding: 23px 0;
      text-align: center;
      border-right: 1px solid #526075;

      @media(max-width: $maxSmall) {
        width: 50%;
      }

      .field {
        color: #f4f4f4;
        margin-bottom: 9px;
        display: inline-block;
        font-size: 14px;

        @media (max-width: $maxMedium) {
          font-size: 14px;
        }
      }

      .data {
        display: block;
        color: #fff;
        font-size: 27px;
        text-shadow: 1px 1px #000;

        @media (max-width: $maxMedium) {
          font-size: 21px;
        }
      }
    }
  }
}