@import '../../core/stylesheets/mixins.scss';

.settings-wrapper {
  position: absolute;
  right: 0;
  left: 230px;
}
.show-menu {
  @include transition(all .3s ease-out);
  left: 230px;
  position:relative;
}

.hide-menu {
  @include transition(all .3s ease-out);
  left: 0px;
  position:relative;
}