@import '../../core/stylesheets/mixins.scss';

#content {
  padding: 0;
  margin-left: 230px;

  @media (max-width: $maxMedium) {
    margin-left: 70px;
  }

  @media (max-width: $maxSmall) {
    margin-left: 0px;
    position: relative;
    z-index: 9999;
  }

  #sidebar {
    width: 100%;
    height: 38px;
    line-height: 38px;
    position: relative;

    @media (max-width: $maxSmall) {
      margin-top: 60px;
    }

    .menu {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .col-xs-4 {
        padding: 0;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 15px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background-color: #fff;
        color: #4DB2E7;
        border: 1px solid #4DB2E7;
        border-left: none;
        transition: 0.5s all ease;

        &.active,
        &:hover {
          background-color: #4DB2E7;
          color: #fff;
        }
      }
    }
  }
}