@import '../../core/stylesheets/mixins.scss';

#content {
  padding: 0;
  margin-left: 230px;

  @media (max-width: $maxMedium) {
    margin-left: 70px;
  }

  #sidebar {
    width: 100%;
    background-color: #4DB2E7;
    height: 38px;
    line-height: 38px;
    position: relative;

    @media (max-width: $maxSmall) {
      margin-top: 60px;
    }

    .menu {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        display: inline;
        padding: 13px 30px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &.active,
        &:hover {
          color: #6787DA;
        }
      }
    }
  }
}