

img{
  width:100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}


section{
  text-align: center;
  background:rgba(0,0,0,0.1);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
}

